"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
"map Q gq
set surround
vnoremap < <gv
vnoremap > >gv
nnoremap ]t vat<Esc>
nnoremap [t vato<Esc>

"map clipboard to common shortcuts
nnoremap <C-v> "+p
inoremap <C-v> <Esc>"+pa
vnoremap <C-c> "+y

let mapleader = " "

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Turn on option IdeaVim: Track Action Ids to show actions' names
"" Map \r to the Reformat Code action "map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
